%div.contents
  %div.side-bar
    %div.header
      %p<
        sample太郎
        %span.icon
          = icon "pencil-square-o"
          = icon "cog"
    %ul.chats
      %li.chats__list#selected<
        %p.chats__list--name<
          sample1
        %p.chats__list--message<
          hogehoge1
      %li.chats__list<
        %p.chats__list--name<
          sample2
        %p.chats__list--message<
          hogehoge2
      %li.chats__list<
        %p.chats__list--name<
          sample3
        %p.chats__list--message<
          hogehoge3
  %div.main-content
    %div.chat-space
      %div.header
        %div.header__info
          %p.header__info--name<
            sample1
          %p.header__info--members<
            Members: sample太郎,sample花子
            %a
              = icon "plus-circle"
        %div.header__buttons<
          %ul
            %li.header__buttons--list<
              Edit

      %div.chat
      %div.putting-message
