.contents
  .side-bar
    .header
      %p<
        sample太郎
        %span.icon
          = icon "pencil-square-o"
          = icon "cog"
    %ul.chats
      %li.chats__list#selected<
        %p.chats__list--name<
          sample1
        %p.chats__list--message<
          hogehoge1
      %li.chats__list<
        %p.chats__list--name<
          sample2
        %p.chats__list--message<
          hogehoge2
      %li.chats__list<
        %p.chats__list--name<
          sample3
        %p.chats__list--message<
          hogehoge3
  .main-content
    .chat-space
      .header
        .header__info
          %p.header__info--name<
            sample1
          %p.header__info--members<
            Members: sample太郎,sample花子 ..
            %a
              = icon "plus-circle"
        .header__buttons<
          %ul
            %li.header__buttons--list<
              Edit

      .chat
        %ul
          %li.chat__message
            %p.chat__message--name<
              sample花子
              %span<
                2017/02/07 06:27:02
            %p.chat__message--text<
              hogehogeなう
          %li.chat__message.my-message
            %p.chat__message--name<
              sample太郎
              %span<
                2017/02/07 06:27:34
            %p.chat__message--text<
              hoge~~~~~
          %li.chat__message
            %p.chat__message--name<
              sample花子
              %span<
                2017/02/07 06:27:56
            %p.chat__message--text<
              おらおら
          %li.chat__message
            %p.chat__message--name<
              sample花子
              %span<
                2017/02/07 06:28:33
            %p.chat__message--text<
              おい
          %li.chat__message
            %p.chat__message--name<
              sample花子
              %span<
                2017/02/07 06:27:02
            %p.chat__message--text<
              hogehogeなう
          %li.chat__message.my-message
            %p.chat__message--name<
              sample太郎
              %span<
                2017/02/07 06:27:34
            %p.chat__message--text<
              hoge~~~~~
          %li.chat__message
            %p.chat__message--name<
              sample花子
              %span<
                2017/02/07 06:27:56
            %p.chat__message--text<
              おらおら
          %li.chat__message
            %p.chat__message--name<
              sample花子
              %span<
                2017/02/07 06:28:33
            %p.chat__message--text<
              おい
      .putting-message
        %form.putting-message__form
          %input.putting-message__form--text{type: :text, placeholder: "type a message"}
          %input.putting-message__form--button{type: :submit, value: "Send"}

























