%li.message{data: {message: {id: message.id}}}
  %p.message__name<
    = message.user.name
    %span<
      = message.created_at.strftime('%Y年%m月%d日 %H:%M:%S')
  - if message.text
    %p.message__text<
      = message.text
  - if message.image
    = image_tag(message.image)
