<div class='chat-group-form'>
  <h1>チャットグループ編集</h1>
  <form class="edit_chat_group" id="edit_chat_group_22" action="/chat_groups/22" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
    <input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="U5ABp0/UobRQTSwsR0V40bX1w3t0rZ0CTqrVyLecD+L6sdhBRO/gVcKy7w/Rgxnc7Hf0Ts39996dal3to5fTag==" />
    <div class='chat-group-form__field clearfix'>
      <div class='chat-group-form__field--left'>
        <label class="chat-group-form__label" for="chat_group_name">グループ名</label>
      </div>
      <div class='chat-group-form__field--right'>
        <input class="chat-group-form__input" placeholder="グループ名を入力してください" type="text" value="ほげー" name="chat_group[name]" id="chat_group_name" />
      </div>
    </div>
    <div class='chat-group-form__field clearfix'>
      <div class='chat-group-form__field--left'>
        <label class="chat-group-form__label" for="chat_group_チャットメンバーを追加">チャットメンバーを追加</label>
      </div>
      <div class='chat-group-form__field--right'>
        <div class='chat-group-form__search clearfix'>
          <input class='chat-group-form__input' id='user-search-field' placeholder='追加したいユーザー名を入力してください' type='text'>
        </div>
        <div id='user-search-result'></div>
      </div>
    </div>
    <div class='chat-group-form__field clearfix'>
      <div class='chat-group-form__field--left'>
        <label class="chat-group-form__label" for="chat_group_チャットメンバー">チャットメンバー</label>
      </div>
    </div>
    <div class='chat-group-form__field clearfix'>
      <div class='chat-group-form__field--left'></div>
      <div class='chat-group-form__field--right'>
        <input type="submit" name="commit" value="Save" class="chat-group-form__action-btn" data-disable-with="Save" />
      </div>
    </div>
  </form>
</div>
