$white: #FFF;
$gray_border: #eee;
$gray_chat: #F8F8F8;
$gray_puttingMessage: #AAA;
$gray_text: #434A54;
$light-gray: #999;
$deep-gray: #333;
$indigo_sidebar: #2f3e51;
$deep-indigo: #253141;
$vivid-blue: #38AEF0;
