.alert{
    width: 100%;
    z-index: 2;
    float: left;
    position: relative;
    top: 0;

    &__error {
        background-color: $light-red_alert;
        color: $red_alert;
     }

    &__alert {
        background-color: $light-red_alert;
        color: $red_alert;
     }

    &__success {
        background-color: $light-green_alert;
        color: $green_alert;
     }

    &__notice {
        background-color: $light-green_alert;
        color: $green_alert;
     }

    .close {
        padding-left: 5px;
        float: left;
    }

    &__message {
        text-align: center;
    }
}


