.alert{
    width: 100%;
    z-index: 2;
    float: left;
    position: relative;
    top: 0;

    &__error {
        background-color: #f2dede;
        border-color: #eed3d7;
        color: #b94a48;
     }

    &__alert {
        background-color: #f2dede;
        border-color: #eed3d7;
        color: #b94a48;
     }

    &__success {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #468847;
     }

    &__notice {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #468847;
     }

    .close {
        padding-left: 5px;
        float: left;
    }

    &__message {
        text-align: center;
    }
}


