body,html {
  height: 100%;
}

body {
}

.contents {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
  .side-bar {
    height: 100%;
    background-color: #2f3e51;
    width: 300px;
    float: left;
    border-right: solid 1px #eeeeee;
    box-sizing:border-box;
    .header {
      height: 96px;
      width: 100%;
      background-color: #253141;
      p {
        padding: 35px 20px 0 20px;
        font-family: Bold;
        font-size: 16px;
        color: #FFFFFF;
        .icon {
          float: right;
        }
      }

    }
    ul.chats {
      .chats__list {
        height: 91px;
        width: 100%;
        border-bottom: ridge 1px #253141;
        .chats__list--name {
          font-size: 15px;
          color: #FFFFFF;
          padding: 20px 20px 5px 20px;

        }
        .chats__list--message {
          font-size: 11px;
          color: #FFFFFF;
          padding: 0 20px 40px 20px;
        }
      }
      #selected {
        border-right: solid 5px #FFFFFF;
        box-sizing:border-box;
      }
    }

    li {
      #selected {
        background-color: #253141;
      }
      .chats__lists {

      }
    }
  }

  .main-content {
    height: 100%;
    width: 100%;
    margin-left: -300px;
    padding-left: 300px;
    float: right;
    box-sizing: border-box;
    .chat-space {
        height: 100%;
        position: relative;

      .header {
        height: 95px;
        background-color: #FFFFFF;
        border-bottom: ridge 1px #eeeeee;
        padding: 0 40px;
        .header__info {
          height: 100%;
          width: 50%;
          float: left;
          .header__info--name {
            padding: 30px 0 10px 0;
            font-size: 20px;
            color: #333333;
          }
          .header__info--members {
            font-size: 12px;
            color: #999999;
            a {
              color: #38AEF0;
            }
          }
        }
        .header__buttons {
          height: 100%;
          width: 50%;
          float: right;
          ul {
            .header__buttons--list {
              height: 32px;
              margin: 28px 0 0 2px;
              padding: 8px 20px 0 20px;
              float: right;
              border: solid 1px #38AEF0;
              text-align: center;
              font-size: 15px;
              color: #38AEF0;
            }
          }
        }
      }
      .chat {
        height: 100%;
        background-color: #F8F8F8;
        padding: 26px 40px 0 40px;
/*        position: absolute;
        top: 96px;
        bottom: 90px;*/
        ul {
          height: 100%;
          width: 50%;
          .chat__message {
            height: 54px;
            width: 100%;
            padding: 10px 0;
            border-bottom: solid 1px #AAAAAA;
            .chat__message--name {
              font-size: 16px;
              color: #434A54;
              span {
                margin-left: 10px;
                font-size: 12px;
                color: #999999;
              }
            }
            .chat__message--text {
              margin-top: 10px;
              font-size: 14px;
            }
          }
          .my-message {

          }
        }
      }
      .putting-message {
        height: 90px;
        width: 100%;
        box-sizing:border-box;
        background-color: #AAAAAA;
        position: absolute;
        padding: 0 40px;
        margin-left: -1px;
        bottom: 0px;
        .putting-message__form {
          height: 100%;
          width: 100%;
          padding: 20px 0 20px 0;
          box-sizing:border-box;
          .putting-message__form--text {
            height: 50px;
            width: 100%;
            margin-right: -97px;
            padding-right: 97px;
            padding-left: 10px;
            box-sizing:border-box;
            float: left;
            border: none;
            font-size: 16px;
            color: #434A54;
          }
          .putting-message__form--button {
            height: 50px;
            width: 82px;
            padding: 0 20px;
            margin-left: 15px;
            float: right;
            border: solid 1px #38AEF0;
            background-color: #38AEF0;
            text-align: center;
            font-size: 15px;
            color: #FFFFFF;
          }
        }
      }
    }
  }








